//Profile config names for nf-core/configs
params {
  config_profile_description = 'nf-core/airrflow kleinstein workstation'
  config_profile_contact = 'Burhan'
  config_profile_url = 'https://immcantation.org'
  max_memory = 98.GB
  max_cpus = 24
  max_time = 20.h
}

singularity {
  enabled = true
}

executor {
  name = 'slurm'
  queueSize = 50
//  pollInterval = '1 min'
//  queueStatInterval = '5 min'
  submitRateLimit='190/60min'
}

process {
  queue = 'day'
  scratch = 'false'
  withName:'DOWSER_LINEAGES' {
    errorStrategy = 'ignore'
  }
  withName: '.*REPORT_FILE_SIZE.*' {
    errorStrategy = 'ignore'
  }
  withName:'CLONAL_ASSIGNMENT_COMPUTE' {
    cpus = 4
    time = 20.h
    memory = 64.GB
  }
  withName:'CLONAL_ASSIGNMENT' {
    errorStrategy = 'ignore'
    time = 20.h
    memory = 64.GB
    cpus = 8
  }
  withName: '.*REPORT_THRESHOLD.*' {
    errorStrategy = 'ignore'
    cpus = 8
    time = 18.h
    memory = 48.GB
  }
  withName: 'REPERTOIRE_ANALYSIS' {
    cpus = 8
    time = 18.h
    memory = 48.GB
  }
  withName: 'AIRRFLOW_REPORT' {
    errorStrategy = 'ignore'
  }
}
