//Profile config names for nf-core/configs
params {
  config_profile_description = 'nf-core/airrflow covid mccleary'
  config_profile_contact = 'Susanna Marquez (@ssnn-airr)'
  config_profile_url = 'https://immcantation.org'
  max_memory = 980.GB
  max_cpus = 64
  max_time = 20.h
}
process {
  queue = 'day'
  scratch = 'false'
  withName: 'REPORT_FILE_SIZE'{
    errorStrategy = 'ignore'
  }
}
singularity {
  enabled = true
}
executor {
  name = 'slurm'
  queueSize = 50
//  pollInterval = '1 min'
//  queueStatInterval = '5 min'
  submitRateLimit='190/60min'
}
